# .gitignore

# Virutal environment
/venv

# Python cache files
__pycache__/

# Django stuff
*.pyc
db.sqlite3

# macOS
.DS_Store

# Media files
media/

# VS Code settings
.vscode/

# Static files
static/