<!--portfolio_site/main/templates/main/base.html--> 

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <script src="{% static 'main/script.js' %}" defer></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="nav-brand">MyPortfolio</div>

            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/projects/">Projects</a></li>
                <li><a href="/skills/">Skills</a></li>
            </ul>
            <!-- THEME TOGGLE BUTTON -->
            <button id="theme-toggle" class="theme-toggle" aria-label="Toggle theme">🌙</button> <!-- Got idea from Tiktok & Dynamic Web Fundamentals class -->
        </nav>
    </header>

    <main class="content">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        © {{ now|date:"Y" }} My Portfolio
    </footer>

</body>
</html>
